<ion-view>
   <ion-content>
       <div class="container-fluid">
         <div class="row"  style="margin:20px;">
               <div class="row">
                  <div id="NavButtons" class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                     <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ><a href="#/provider">I can help with some thing</a></li>
                        <li role="presentation"><a href="#/seeker" >I am a help seeker</a></li>
                        <li role="presentation"><a href="#/volunteer">I want to be a Volunteer</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </ion-content>
  <!--<div ng-include src="'templates/tabs.html'"></div>-->
</ion-view>