/* Empty. Add your own CSS if you like */

.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }
body{
    background-color: lightgray;
}
h1{
    color:black;
}
.container {
   
background: ghostwhite;
   margin: 0 auto;
   padding:50px;
   border:500px;
}

.left {
float: left;
   padding-right: 5px;
   
}

.long {
   
   width:100%;
   margin:0 auto;
   
}

header div {
text-align: center;
color: #f8f8f8;
   
}

#footer {
padding: 10px;
background-color: #f8f8f8;
bottom: 0px;
left: 0px;
width: 100%;
color: bisque;
}

#footer span {
    color:black;
    float:right;
}
.conditionBuilder {

   padding: 15px 0px;
   float: left;
}

.nav-stacked>li {
    float: none;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.nav>li>a{
  text-align:center !important;
  border: solid 1px !important;
}

.events {
   float: left;
   padding-left:5px;
   padding-right:5px;
   
}

.boxed {
 border: 1px solid green ;
}

.green{
background:#0f0;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 90%;
    height: 50%;
}


.controls {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    position: absolute;
    line-height: 22px;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 90%;
    margin-bottom: 0;
    line-height: 15px;
    font-weight: bold;
    margin-left: 10%;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}