<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Social Service</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/styles.css">
      
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
      <script src="client.js"></script>
   </head>
   <body ng-app="needyapp">
      <div class="container-fluid">
         <div class="page-header">
             <img src="connectdneedy.png" style="width:100%;"></img>
         </div>
         <div class="row"  style="margin:20px;">
            <div class="row">
               <div class="row">
                  <div id="NavButtons" class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                     <h3>
                     To proceed, please Click on the appropriate button below 
                     <h3>
                     <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ><a href="provider">I can help with some thing</a></li>
                        <li role="presentation"><a href="seeker" >I am a help seeker</a></li>
                        <li role="presentation"><a href="volunteer">I want to be a Volunteer</a></li>
                     </ul>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                     <img src="footer.png" style="width:100%;"></img>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>